
h3{
    font-size: 50px;
    color: aliceblue;
    text-align: center;
    font-size: 100px;
}
@media (max-width:361px) {
    h3{
        font-size: 50px;
        margin:auto;
        margin-top: 200px;
    }
    
}
@media (max-width:412px) {
    h3{
        font-size: 50px;
        margin:auto;
        margin-top: 250px;
    }
    
}

h3:hover{
    color: rgb(255, 1, 1);
    font-weight: bolder;
    text-decoration: underline;
    padding-bottom: 10px;
   
}

#btnSi{
    width: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    border: none;
    margin-right: 30px;
    margin-left: 35%;
    margin-top: 9%;
    font-size: 30px;
}

#btnSi:hover{
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    color: aliceblue;
    animation-name: animar;
    animation-duration: 1.5s;
}

#btnNo{
    width: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    border: none;
    margin-right: 30px;
    margin-top: 9%;
    font-size: 30px;
}

#btnNo:hover{
    cursor: pointer;
    background-color: black;
    color: aliceblue;
}

@keyframes animar{
    0%{
        transform: scale(.3);
    }
}
a{
    font-size: 1px;
    color:brown;
}