* {
  margin: 0px;
  padding: 0px;
}
.refran {
  margin-top: 310px;
  margin-left: -450px;
}
#logo {
  width: 40px;
  padding-left: 94%;
  padding-top: 10px;
}

.fecha {
  text-align: right;
  font-family: Tahoma, Helvetica, sans-serif;
  font-size: 10px;
  padding-right: 55px;
  color: #aba5a5;
}
.contenido {
  width: 80%;
  height: 500px;
  margin: auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

#letra {
  margin-left: -100px;
}

.frase {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#logoGrande {
  width: 96px;
}
h1 {
  font-size: 70px;
  display: inline-block;
  position: absolute;
  padding-left: 100px;
  bottom: 490px;
  font-family: sans-serif;
}
@media (max-width: 1456px) {
  h1 {
    margin-bottom: -100px;
  }
}
h2 {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-top: -170px;
}

@media (max-width: 1074px) {
  h2 {
    font-size: 25px;
  }
}
@media (max-width: 965px) {
  h2 {
    font-size: 15px;
  }
}
.comillas {
  font-size: 30px;
  font-weight: bold;
}

@media (max-width: 1074px) {
  .comillas {
    font-size: 25px;
  }
}
@media (max-width: 965px) {
  .comillas {
    font-size: 15px;
  }
}
.form {
  width: 100%;
  height: 60%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #666;
}

@media (max-width: 1376px) {
  .texto {
    margin-right: 50px;
  }
}

.login {
  color: #aba5a5;
  font-weight: bold;
  text-align: left;
  margin-left: 11px;
  margin-bottom: 5px;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  padding-left: 50px;
}

#us {
  padding-top: 50px;
}

#con {
  padding-top: 20px;
}

#tex1 {
  padding-left: 3px;
}
#tex2 {
  padding-left: 3px;
}
#boton {
  margin-top: 30px;
  margin-left: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 30px;
  border: none;
  background: #fbba0a;
  color: #814f1d;
  border-radius: 4px;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 500;
}

#boton:hover {
  cursor: pointer;
}

.texto {
  border-radius: 3px;
  border: 2px solid #bbb;
  background-color: #f5f5f5 !important;
  font-size: inherit;
  margin-left: 60px;
  height: 30px;
}
@media screen and (max-width: 992px) {
  .login {
    margin-left: 15px;
  }
}

.fondo {
  background: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 800px;
  box-shadow: 2px 2px 10px #666;
}

.header {
  height: 90px;
}
.info {
  text-align: right;
  margin-top: -100px;
  margin-right: 170px;
  font-size: 11px;
  font-family: sans-serif;
}
footer {
  background: rgb(51, 51, 51);
  color: #bbb;
  text-align: center;
  margin-top: 90px;
  height: 30px;
  margin-top: 1px;
  padding-top: 20px;
}
@media (max-width:1456px){
  .refran{
    margin-left: -450px;
  }
}
@media (max-width:1370px){
  .refran{
    margin-left: -400px;
  }
}
@media (max-width:1240px){
  .refran{
    margin-left: -350px ;
  }
}

@media (max-width:1120px){
  .refran{
    margin-left: -300px;
  }
}
@media (max-width:1050px){
  .refran{
    margin-left: -250px;
  }
}
@media (max-width:958px){
  .refran{
    margin-left: -200px;
  }
}

@media (max-width: 816px) {
  .contenido {
    display: flex;
    flex-wrap: wrap;
  }
  .frase {
    margin-left: 60px;
  }
  .refran {
    margin-top: 300px;
    margin-left: -60px;
  }
  h2{
    font-size: 30px;
  }
  .comillas{
    font-size: 30px;
  }
  .form {
    margin-top: -180px;
  }
  #logoGrande {
    margin-left: 100px;
  }
  #letra {
    margin-left: -100px;
  }
  .info {
    padding-top: 120px;
    padding-right: 80px;
  }
  .form{
    margin-top: -100px;
    width: 300px;
    margin-left: 200px;
  }
}